{% extends 'base.html' %} {% load crispy_forms_tags%} {% block content %}


<div class="mt-5 flex-wrap justify-content-center">
    <h1>{{type}} page</h1>
    <div class="card mx-2 card-body">
        <img class="card-img-top w-50 mx-auto" src={{data.image.url}} alt="">
        <h1 class="card-title">{{clicked_posts.title}}</h1>
        <p class="card-text">{{data.content}}</p>
        <p>{{data.author.name}}</p>
        <p>Price: {{data.Price}} $</p>
        <p>
            category: {% for cat in data.categorie.all %}
            <button class="btn btn-warning btn-sm mt-2">{{cat.name}}</button>
            {% endfor %}
        </p>
        <div>
            <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit profile</a>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-sm-1 row-cols-md-1 row-cols-lg-1">
            <div class="col-12">
                <h3>Quiz attended by @{{user_profile2.user.username}}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Quiz</th>
                            <th scope="col">Marks</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for submission in submissions %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td title="{{submission.quiz.title}}">{{submission.quiz.title|truncatewords:6}}</td>
                            <td>{{submission.score}}/{{submission.quiz.question_set.all|length}}</td>
                            <td>{{submission.submitted_at|timesince}} ago</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock%}