{% extends 'base.html' %}

{% block title %}All Quizzes - BrainBunny{% endblock title %}

{% block content %}

<style>
    .cb {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease-in-out;

    }

    .cb:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .sbtn {
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, font-size 0.5s ease-in-out, padding 0.5s ease-in-out;
        font-weight: 600;
    }

    .sbtn:hover {
        color: black;
        padding: 3px;
        font-size: medium;
        color: #fff;
        font-weight: 700;
        background-color: rgb(104, 219, 91);
    }
</style>

<h1 class="display-4 text-center my-5">All Quizzes</h1>


<div class="container">
    <div class="d-flex flex-wrap gap-4 p-3 ">
        <a href="{% url 'all_quiz' %}" class="btn btn-sm btn-light m-1 shadow">All Quiz</a>
        {% for category in categories %}
        <a href="{% url 'search' category.name %}" class="btn btn-sm btn-light m-1 shadow">{{category.name}}</a>
        {% endfor %}
    </div>
</div>


<div class="container mt-5">

    <div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-3 g-5">
        {% if quizzes|length > 0 %}
        {% for quiz in quizzes %}
        <div class="">
            <div class="card shadow-sm ">
                <div class="card-body m-auto cb" style="height: 34rem;">
                    <img class="mx-auto p-2" style="width: 250px;" src={{quiz.image.url}} alt="Card image">
                    <h4>{{quiz.title}}</h4>
                    <small class="card-text fs-6">{{quiz.description|truncatewords:30}}</small>
                    <br>
                    <small class="card-text my-1 fw-bold">Total Questions - {{quiz.question_set.all|length}}</small>
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <div class="btn-group">
                            <a href="{% url 'quiz' quiz.id %}" type="button"
                                class="btn btn-sm btn-outline-success sbtn fs-6 px-4">
                                Quiz</a>
                        </div>
                        <small class="text-body-secondary">Create: {{quiz.created_at}}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-lg-12 col-md-12 col-12">
            <p class="text-center text-danger fs-5">There is no quiz available for this category or search.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}